<section class="slide">
    <div class="container">
        <div class="row">
            <div class="col-5 col-12">
                <h1 class="slide__title">
                    Never Caught Off-Guard Again
                </h1>
                <p class="slide__description">
                    We are specialist in protecting your assets and reputation to make sure you operate risk-free and focus on your core business.
                </p>
                <button class="button__more">Learn More</button>
                <p (click)="myEvent()">
                    <img
                    class="scrol"
                    src="/assets/img/scrol.png" 
                    alt="scrol"
                    >
                </p>
            </div>
            <div class="col-7 col-12">
                <img class="space" src="/assets/img/space-helmetf.png" alt="space">
            </div>
        </div>
    </div>
</section>